<h1>Estoque</h1>

<!-- <input type="text" [(ngModel)]="filtro" placeholder="Filtrar por nome"> -->
<table>
  <thead>
    <tr>
      <th>Produto</th>
      <th>Quantidade</th>
      <th>Almoxarife</th>
      <th>Status</th>
      <th>tipo do Itens</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let produto of produtos">
      <td>{{ produto.nome }}</td>
      <td>{{ produto.qtItens }}</td>
      <td>{{ obterNomeAlmoxarife(produto.idAlmoxarife) }}</td>
      <td [ngClass]="obterClasseStatusItem(produto.idStatusItem)">{{ obterNomeStatusItem(produto.idStatusItem) }}</td>
      <td [ngClass]="obterClasseTipoItem(produto.idTipodeItem)">{{ obterNomeTipoItem(produto.idTipodeItem) }}</td>
      <td>
              <button (click)="editarProduto(produto)" style="color: blue;">
          <i class="material-icons"> edit </i>
        </button>
        <button (click)="removerProduto(produto)" style="color: red;">
          <i class="material-icons"> delete </i>
        </button>
      </td>
    </tr>
  </tbody>
</table>



<div class="container">
  <div class="table-container idAlmoxarife">
    <table class="legendaAlmoxarife">
      <thead>
        <tr>
          <th>Id</th>
          <th>Almoxarife</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Luiz</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Rodrigo</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="table-container Status">
    <table class="legendaStatus">
      <thead>
        <tr>
          <th>Id</th>
          <th>Status Item</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td class="highlight-green">Disponível</td>
        </tr>
        <tr>
          <td>2</td>
          <td class="highlight-red">Indisponível</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="table-container Tipo">
    <table class="legendaTipo">
      <thead>
        <tr>
          <th>Id</th>
          <th>Tipo Item</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td class="highlight-green">Consumível</td>
        </tr>
        <tr>
          <td>2</td>
          <td class="highlight-red">Não Consumível</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>











<div class="edit-form" *ngIf="modoEdicao">
  <h2>Editar Produto</h2>
  <form (ngSubmit)="atualizarProduto()" #produtoForm="ngForm">



    <label for="nome">Nome:</label>
    <input
      id="nome"
      type="text"
      [(ngModel)]="produtoEditado.nome"
      name="nome"
      required
    />

    <label for="quantidade">Quantidade:</label>
    <input
      id="quantidade"
      type="number"
      [(ngModel)]="produtoEditado.qtItens"
      name="quantidade"
      required
    />

    <label for="almoxarife">Almoxarife:</label>
    <input
      id="almoxarife"
      type="text"
      [(ngModel)]="produtoEditado.idAlmoxarife"
      name="almoxarife"
      required
    />

    <label for="status">Status:</label>
    <input
      id="status"
      type="text"
      [(ngModel)]="produtoEditado.idStatusItem"
      name="status"
      required
    />

    <label for="tipoItem">Tipo do Item:</label>
    <input
      id="tipoItem"
      type="text"
      [(ngModel)]="produtoEditado.idTipodeItem"
      name="tipoItem"
      required
    />



    <button type="submit">Atualizar</button>
    <button type="button" (click)="cancelarEdicao()">Cancelar</button>
  </form>
</div>

<div class="add-form">
  <h2>Adicionar Produto</h2>
  <form (ngSubmit)="adicionarProduto()" #produtoForm="ngForm">
    <label for="nome">Nome:</label>
    <input
      id="nome"
      type="text"
      [(ngModel)]="novoProduto.nome"
      name="nome"
      required
    />

    <label for="quantidade">Quantidade:</label>
    <input
      id="quantidade"
      type="number"
      [(ngModel)]="novoProduto.qtItens"
      name="quantidade"
      required
    />



    <label for="almoxarife">Id do Almoxarife:</label>
    <input
      id="almoxarife"
      type="number"
      [(ngModel)]="novoProduto.idAlmoxarife"
      name="almoxarife"
      required
    />

    <label for="status">Id do Status:</label>
    <input
      id="status"
      type="number"
      [(ngModel)]="novoProduto.idStatusItem"
      name="status"
      required
    />

    <label for="tipoItem">Id Tipo do Item:</label>
    <input
      id="tipoItem"
      type="number"
      [(ngModel)]="novoProduto.idTipodeItem"
      name="tipoItem"
      required
    />


    <button type="submit">Adicionar</button>
  </form>
</div>
