<h2>Fazer Pedido</h2>

<div class="add-form">
  <h2>Adicionar Pedido</h2>
  <form (ngSubmit)="adicionarPedido();   pedidoEnviadoMensagem()" #produtoForm="ngForm">


    <label for="status">Nome do item</label>
    <input
      id="qtAgendamento"
      type="text"
      [(ngModel)]="novoPedido.nomeItem  "
      name="qtAgendamento"
      required
    />


    <label for="status">quantidade</label>
    <input
      id="qtAgendamento"
      type="number"
      [(ngModel)]="novoPedido.qtAgendamento"
      name="qtAgendamento"
      required
    />

    <label for="tipoItem">mtRetirada:</label>
    <input
      id="mtRetirada"
      type="date"
      [(ngModel)]="novoPedido.mtRetirada"
      name="mtRetirada"
      required
      />


    <label for="tipoItem">mtDevolucao:</label>
    <input
      id="mtDevolucao"
      type="date"
      [(ngModel)]="novoPedido.mtDevolucao"
      name="mtDevolucao"
      required
    />
      <button type="submit">Adicionar</button>
  </form>
</div>
<div *ngIf="pedidoEnviadoFlag" class="success-message">
  Pedido enviado com sucesso!
</div>

