<h1>Recebimento de Pedido</h1>
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Quantidade</th>
      <th>Data Retirada </th>
      <th>Data Devolucao</th>
      <th>Detalhes</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pedido of pedido">
      <td>{{ pedido.nomeItem }}</td>
      <td>{{pedido.qtAgendamento}}</td>
      <td>{{novaData(pedido.mtRetirada)}}</td>
      <td>{{novaData(pedido.mtDevolucao)}}</td>
      <td>
            <button class="detalhes">
        <a href="/home/recebimentoPedido"> Detalhes</a>
      </button>
    </td>
    </tr>
  </tbody>
</table>
