  /* Estilos para a tabela */
  table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }

  th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
  }

  th {
    background-color: #f7f7f7;
    font-weight: bold;
    color: #333333;
    text-transform: uppercase;
  }

  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tbody tr:hover {
    background-color: #e3e3e3;
  }

  /* Estilos para o cabeçalho */
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333333;
  }


  .disponivel {
    color: green;
  }

  .indisponivel {
    color: red;
  }
